/*=============================================
=            GLOBAL            =
=============================================*/

@import './var.scss';
@import './init';

/*=============================================
=            LAYOUT           =
=============================================*/
@import './components/footer';
@import './components/navbar';

/*=============================================
=            PAGES            =
=============================================*/
@import './containers/signin';
@import './containers/signup';
@import './containers/home-page';
@import './containers/dashboard';
@import './containers/video-chat';
@import './containers/VideoNotReady';
@import './containers/written-advice';
@import './containers/textchat';
@import './containers/payement';
@import './containers/phoneexpired';
@import './containers/PayementError';
@import './containers/updateprofile';
@import './containers/admin-dashboard';
@import './containers/contact-us';

/*==============================================
=            COMPONENTS           =
=============================================*/
@import './components/inputs';
@import './components/error-notice';
@import './components/error-result';
@import './components/report-modal';
@import './components/chat-box';
@import './components/datatable';
body {
  font-family: $font-style;
}
.ant-modal-footer {
  display: none;
}
.ant-modal-close-x {
  display: none;
}
.disabled-button {
  width: 200px;
  height: 47.15px;
  background-color: #a1a1a1;
  border: 1px #252525 solid;
  color: $light;
  border-radius: 8px;
  margin-top: 10%;
  cursor: not-allowed !important;
}
