.article {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 5%;
    margin-bottom: 5%;
    
    p {
        width: 80%;
    }
    .Article-icon{
        margin-bottom: 2%;
        background: $primary-color;
        color: white;
        border-radius: 20%;
        padding: 20px;
    }
    h1 {
        color: $primary-color;
    }
}