.Payement {
  width: 100%;
  margin-right: 8%;
  margin-left: 8%;
  display: flex;
  margin-bottom: 10%;
  padding-top: 5%;
  height: auto;
  .Left {
    margin-top: 5%;
    .title {
      font-size: 16px;
      font-weight: bold;
      color: $title-color;
    }

    .pricings {
      margin-top: 50px !important;
      .card-type {
        margin-top: 5%;
        width: 420px;
        height: 117px;
        border: 1px solid $title-color;
        border-radius: 5px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: start;
        img {
          background: $light;
          border-radius: 50%;
          border: 1px solid $title-color;
          padding: 10px;
        }
        & .anticon {
          font-size: 25px;
          color: $primary-color;
          border: 1px solid #7c7c7c;
          padding: 10px;
          border-radius: 50%;
          background-color: $light;
          font-weight: 600;
        }
        .price {
          font-size: 18px;
          font-weight: bold;
        }
        &:hover {
          background-color: $primary-color;
          cursor: pointer;
          span {
            color: white;
          }
          & .anticon-check {
            color: $primary-color !important;
          }
        }
      }
      .checked {
        background-color: $primary-color;
        span {
          color: white;
        }
      }
    }
  }
  .Right {
    margin-top: 10%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    .title {
      font-size: 16px;
      font-weight: bold;
      color: $title-color;
    }
    .under-title {
      font-size: 14px;
      color: $second-title-color;
      margin-top: 5%;
    }
    .credit-card {
      margin: 20px 0px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
span {
  color: $primary-color;
  font-weight: 700;
  text-align: center;
}
button {
  margin: 20px 0px;
  color: white;
  background-color: $success-color;
  border: 1px solid $success-color;
  border-radius: 4px;
  &:hover {
    color:$success-color;
    border: 1px solid $success-color;
    border-radius: 4px;
    background-color: $light;
  }
}
    }
    input {
     margin-top: 10px;
    }
    .Bank-detail {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      .under-title {
        font-size: 16px;
        color: $second-title-color;
        margin-top: 5%;
      }
      .name {
        font-size: 16px;
        color: $primary-color;
        margin-top: 20px;
font-weight: 700;
text-align: center;
      }
      .rib {
        font-size: 16px;
        color: $primary-color;
        margin-top: 20px;
font-weight: 700;
text-align: center;
direction: ltr;
      }
    }
  
    .payement-logo {
      margin-top: 10px;
      display: flex;
      
      justify-content: center;
      align-items: center;
    
  img {
    filter: blur(2px);
    -webkit-filter: blur(2px);
    width: 80px;
  }
 
      span {
       font-size: 22px;
       font-weight: 700;
       color: $primary-color;
       text-align: center;
      }
    }
    .pay {
      width: 200px;
      height: 47.15px;
      background-color: #252525;
      border: 1px #252525 solid;
      color: $light;
      border-radius: 8px;
      margin-top: 10%;
    }
  }
}
@media screen and (max-width: 766px) {
  .Payement {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
    padding-top: 5%;
    height: auto;
    margin: 0 !important;
    align-items: center;
    .Left {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 !important;
      .title {
        font-size: 16px;
        font-weight: bold;
        color: $title-color;
      }
  
      .pricings {
        margin-top: 50px !important;
        .card-type {
          margin-top: 5%;
          width: 100%;
          height: 80px;
          border: 1px solid $title-color;
          border-radius: 5px;
          display: flex;
          justify-content: space-around;
          align-items: center;
          text-align: start;
          img {
            background: $light;
            border-radius: 50%;
            border: 1px solid $title-color;
            padding: 10px;
          }
          & .anticon {
            font-size: 25px;
            color: $primary-color;
            border: 1px solid #7c7c7c;
            padding: 10px;
            border-radius: 50%;
            background-color: $light;
            font-weight: 600;
          }
          .price {
            font-size: 18px;
            font-weight: bold;
          }
          &:hover {
            background-color: $primary-color;
            cursor: pointer;
            span {
              color: white;
            }
            & .anticon-check {
              color: $primary-color !important;
            }
          }
        }
        .checked {
          background-color: $primary-color;
          span {
            color: white;
          }
        }
      }
    }
    .Right {
      margin-top: 10%;
      display: flex;
      flex-flow: column;
      
      .title {
        font-size: 16px;
        font-weight: bold;
        color: $title-color;
        text-align: center;
      }
      .under-title {
        font-size: 14px;
        color: $second-title-color;
        margin-top: 5%;
      }
      .payement-logo {
        height: 47.15px;
        width: 471.5px;
        background-color: $grey;
        border-radius: 20px;
        margin-top: 20%;
        display: none;
        justify-content: center;
        align-items: center;
        img {
          width: 81.22px;
          height: 20.76px;
        }
      }
      .pay {
        width: 250px;
        height: 47.15px;
        background-color: #252525;
        border: 1px #252525 solid;
        color: $light;
        border-radius: 8px;
        margin-top: 10%;
      }
    }
  }
}
@media (min-width: 768px) and (max-width: 950px) {
  .Payement {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
    padding-top: 5%;
    height: auto;
    margin: 0 !important;
    align-items: center;
    .pricings {
      margin-bottom: 5%;
    }
  }
}




.gateway {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  img {
    width: 200px;
  }
  span {
    color: $primary-color;
    font-weight: 700;
    text-align: center;
    margin: 20px 0px;
  }
  a {
    margin: 20px 0px 50px;
    color: white;
    background-color: $success-color;
    border: 1px solid $success-color;
    border-radius: 4px;
    width: 150px;
    text-align: center;
    padding: 10px;
    &:hover {
      color:$success-color;
      border: 1px solid $success-color;
      border-radius: 4px;
      background-color: $light;
    }
}
.contact {
  
    margin: 20px 0px;
    color: white;
    background-color: $primary-color;
    border: 1px solid $primary-color;
    border-radius: 4px;
    padding: 10px;
    &:hover {
      color:$primary-color;
      border: 1px solid $primary-color;
      border-radius: 4px;
      background-color: $light;
    }

}
}