.registration {
  background-color: #fff;
  padding: 5% 20%;
  .google-sign-up {
    width: 100%;
    display: flex;

    flex-direction: column;
    padding: 40px 0;
    border-bottom: 1px solid #202f84;
    margin-bottom: 10px;
    .button-google {
      width: 250px !important;
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
      border: #202f84 2px solid !important;
      cursor: pointer;
      border-radius: 4px !important;
      span {
        color: #202f84 !important;
        font-weight: 700 !important;
      }
    }
  }
  h1 {
    color: #202f84;
    font-weight: 600;
    // margin-right: 20%;
    margin-bottom: 25px;
  }
  .error-notice {
    margin-right: 20%;
    margin: 25px 0;
  }
  .Container {
    // margin-right: 20%;
    .form-input {
      display: flex;
      .Right-Signup {
        display: flex;
        flex-flow: column;
        margin-left: 5%;
        width: 50%;
        .ant-checkbox-wrapper {
          &:hover {
            .cgu {
              text-decoration: underline;
            }
          }
          .ant-checkbox-inner {
            background-color: #f5f5f5;
            border: 2px solid #b9bab9;
            border-radius: 3px;
            border-collapse: separate;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
            &::after {
              border: 2px solid $primary-color;
              border-top: 0;
              border-left: 0;
            }
          }
          span {
            color: #858585;
            font-size: 12px;
            a {
              color: #858585;
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
      .Left-Signup {
        display: flex;
        flex-flow: column;
        width: 50%;
        margin-right: 5%;
        .ant-upload {
          button {
            width: 287px;
            height: 42px;
            background-color: transparent;
            border: 2px solid $primary-color;
            border-radius: 4px;
            span {
              font-size: 13px;
              font-weight: 600;
              color: $primary-color;
              margin: 0 5px;
            }
          }
        }
        .ant-upload-text-icon {
          padding-right: 10px;
        }
        .ant-upload-list-item-name-icon-count-1 {
          padding-right: 30px;
        }
      }
    }
    .form-button {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .ant-btn {
        width: 250px;
        border: 1px solid #202f84;
        border-radius: 4px;
        height: 46px;
        background-color: #202f84;
        margin-top: 30px;
        & span {
          font-size: 16px;
          color: #fff;
          font-weight: bold;
        }
        &:hover {
          color: #202f84;
          border: 1px solid #202f84;
          border-radius: 4px;
          background-color: #fff;
          & span {
            font-size: 16px;
            color: #202f84;
            font-weight: bold;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 766px) {
  .registration {
    background-color: #fff;
    padding: 5%;
    .Container {
      display: flex;
      flex-direction: column;
      // margin-right: 20%;

      .Right-Signup {
        display: flex;
        flex-flow: column;
        margin-left: 5%;
        width: 50%;
        .ant-checkbox-wrapper {
          &:hover {
            .cgu {
              text-decoration: underline;
            }
          }
          .ant-checkbox-inner {
            background-color: #f5f5f5;
            border: 2px solid #b9bab9;
            border-radius: 3px;
            border-collapse: separate;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
            &::after {
              border: 2px solid $primary-color;
              border-top: 0;
              border-left: 0;
            }
          }
          span {
            color: #858585;
            font-size: 12px;
            a {
              color: #858585;
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }

        .ant-btn {
          width: 200px;
          border: 1px solid #202f84;
          border-radius: 4px;
          height: 46px;
          background-color: #202f84;
          margin-top: 30px;
          & span {
            font-size: 16px;
            color: #fff;
            font-weight: bold;
          }
          &:hover {
            color: #202f84;
            border: 1px solid #202f84;
            border-radius: 4px;
            background-color: #fff;
            & span {
              font-size: 16px;
              color: #202f84;
              font-weight: bold;
            }
          }
        }
      }
      .Left-Signup {
        display: flex;
        flex-flow: column;
        width: 50%;
        margin-right: 5%;
        .ant-picker-input {
          width: 150px;
        }
        .ant-upload {
          button {
            width: 150px;
            height: 42px;
            background-color: transparent;
            border: 2px solid $primary-color;
            border-radius: 4px;
            span {
              font-size: 13px;
              font-weight: 600;
              color: $primary-color;
              margin: 0 5px;
              display: block;
            }
          }
        }
        .ant-upload-text-icon {
          padding-right: 10px;
        }
        .ant-upload-list-item-name-icon-count-1 {
          padding-right: 30px;
        }
      }
      .form-button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .button-google {
          width: 200px;
        }
        .ant-btn {
          width: 200px;
        }
      }
    }
  }
}
@media (min-width: 768px) and (max-width: 950px) {
  .registration {
    background-color: #fff;
    padding: 5% 5%;
    .Left-Signup {
      display: flex;
      flex-flow: column;
      width: 50%;
      margin-right: 5%;
      .ant-upload {
        button {
          width: 210px !important;
          height: 42px;
          background-color: transparent;
          border: 2px solid $primary-color;
          border-radius: 4px;
          span {
            font-size: 13px;
            font-weight: 600;
            color: $primary-color;
            margin: 0 5px;
            display: block;
          }
        }
      }
      .ant-upload-text-icon {
        padding-right: 10px;
      }
      .ant-upload-list-item-name-icon-count-1 {
        padding-right: 30px;
      }
    }
  }
}
.ant-picker-borderless {
  width: 100% !important;
}
