.video-chat {
  width: 100%;
  margin-right: 8%;
  margin-left: 8%;
  display: flex;
  align-items: baseline;
  margin-bottom: 10%;
  .Table {
    width: 25%;

    .button-blue {
      margin-bottom: 20px;
      font-size: 16px;
      width: 100%;
      color: #fff;
      font-weight: bold;
      border: 1px solid #7d86b6;
      border-radius: 4px;
      height: 46px;
      background-color: #202f84;
      &:hover {
        color: #202f84;
        border: 1px solid #202f84;
        border-radius: 4px;
        background-color: #fff;
      }
    }
    .Connexion {
      font-size: 16px;
      width: 100%;
      color: #202f84;
      font-weight: bold;
      border: 1px solid #202f84;
      border-radius: 4px;
      height: 46px;
      background-color: #fff;
      &:hover {
        color: #fff;
        border: 1px solid #202f84;
        border-radius: 4px;
        background-color: #202f84;
      }
    }

    table {
      border: 1px solid rgb(179, 178, 178);
      width: 100%;
      margin-bottom: 50px;

      tbody {
        border: 1px solid rgb(179, 178, 178);

        line-height: 2;

        tr {
          th {
            color: gray;
            font-size: 16px;
            font-weight: 700;
            padding: 0.5em;
          }
          td {
            color: #202f84;
            font-weight: bold;
            font-size: 16px;
            padding: 10px;
          }
        }
      }
      tr {
        .consultant {
          display: flex;
          padding-left: 50px !important ;
          img {
            padding-right: 0.5em;
          }
          div {
            padding-right: 0.5em;
            th {
              color: gray;
              font-size: 16px;
              font-weight: 700;
            }
            tr {
              color: #202f84;
              font-weight: bold;
              font-size: 16px;
            }
          }
        }
      }
    }
  }
  .redirection {
    display: flex;
    flex-direction: column;
    margin-right: 2%;
    // align-items: center;
    .alert {
      display: flex;
      flex-direction: column;
      // background-color: $success-color;
      max-width:600px;
      border-radius: 5px;
      padding: 20px;
      text-align: center;
      // border: 1px solid $success-color;

      .title {
        // color: $light;
        font-size: 22px;
        font-weight: bold;
      }
      .text {
        // color: $light;
        font-size: 16px;
        font-weight: 500;
      }
    }
    .Link {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 100px;
      span {
        color: $title-color;
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 5%;
        text-align: center;
      }

      button {
        font-size: 16px;
        width: 300px;
        color: #fff;
        font-weight: bold;
        border: 1px solid #7d86b6;
        border-radius: 4px;
        height: 46px;
        background-color: #202f84;
        cursor: pointer;
        &:hover {
          color: #202f84;
          border: 1px solid #202f84;
          border-radius: 4px;
          background-color: #fff;
        }
        &:disabled {
          background-color: rgba(32, 47, 132, 0.8);
          color: #fff;
          cursor: not-allowed;
        }
      }
    }

    .call-box {
      margin: 50px 0;
      width: 100%;
      min-height: 400px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      .call {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        min-height: 400px;
        .call-message{
        width: 100%;

        }
      }
      .tray {
        justify-content: center;
        width: 100%;
        background-color: rgba(32, 47, 132, 0.3);
        z-index: 99;
        .new-group {
          margin-left: 0;
        }
      }
    }
  }
}
@media (max-width: 767px) {
  .video-chat {
    width: 80% !important;
    display: flex;
    flex-direction: column-reverse;
height: auto;
padding-bottom: 2%;
    .Table {
      width: 100% !important;
      // margin-top: 3%;
      .button-blue {
        margin-bottom: 20px;
        font-size: 16px;
        width: 100%;
        color: #fff;
        font-weight: bold;
        border: 1px solid #7d86b6;
        border-radius: 4px;
        height: 46px;
        background-color: #202f84;
        &:hover {
          color: #202f84;
          border: 1px solid #202f84;
          border-radius: 4px;
          background-color: #fff;
        }
      }
      .Connexion {
        font-size: 16px;
        width: 100%;
        color: #202f84;
        font-weight: bold;
        border: 1px solid #202f84;
        border-radius: 4px;
        height: 46px;
        background-color: #fff;
        &:hover {
          color: #fff;
          border: 1px solid #202f84;
          border-radius: 4px;
          background-color: #202f84;
        }
      }

      table {
        border: 1px solid rgb(179, 178, 178);
        width: 100%;
        margin-bottom: 50px;

        tbody {
          border: 1px solid rgb(179, 178, 178);

          line-height: 2;

          tr {
            th {
              color: gray;
              font-size: 12px;
              font-weight: 700;
              padding: 0 !important;
            }
            td {
              color: #202f84;
              font-weight: bold;
              font-size: 12px;
              padding: 5px !important;
            }
          }
        }
        tr {
          .consultant {
            display: flex;
            padding-left: 50px !important ;
            img {
              padding-right: 0.5em;
            }
            div {
              padding-right: 0.5em;
              th {
                color: gray;
                font-size: 16px;
                font-weight: 700;
              }
              tr {
                color: #202f84;
                font-weight: bold;
                font-size: 16px;
              }
            }
          }
        }
      }
    }
    .redirection {
      display: flex;
      flex-direction: column;
      margin-bottom: 5%;
      .Link {
        display: flex;
        flex-direction: column;
        width: 80%;
        span {
          text-align: center;
        }
      }
    }
  }
}
